# Copyright (c) 2024 Realtek Semiconductor Corp.
# SPDX-License-Identifier: Apache-2.0

config BOARD_RTL8730E_EVB
	select SOC_RTL8730E_HP if BOARD_RTL8730E_EVB_RTL8730E_HP
	select SOC_RTL8730E_AP if BOARD_RTL8730E_EVB_RTL8730E_AP
